@page "/"

<PageTitle>Home</PageTitle>

<h1>Reviewing</h1>

<p>@iC</p>

<button @onclick="UpdateIC">Update iC</button>

<Counter incrementAmount="@iC" />

<Counter incrementAmount="2+4" />


@code {
    private int iC = 1;

    private void UpdateIC()
    {
        // Update the value of iC here
        iC++; // new value for iC;
        StateHasChanged(); // Notify Blazor to re-render the component
    }
}
