@page "/js-collocation-1"
@inject IJSRuntime JS
@rendermode InteractiveServer

<PageTitle>JS Collocation 1</PageTitle>

<h1>JS Collocation Example 1</h1>

<button @onclick="ShowPrompt">Call showPrompt1</button>

@if (!string.IsNullOrEmpty(result))
{
    <p>
        Hello @result!
    </p>
}

@code {
    private string? result;

    public async void ShowPrompt()
    {
        string name = await JS.InvokeAsync<string>("prompt", "what is your name");
        await JS.InvokeVoidAsync("alert", $"Hello {name}!");
        // result = await JS.InvokeAsync<string>(
        //     "showPrompt1", "What's your name?");
        // StateHasChanged();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // await JS.InvokeVoidAsync("showPrompt1", "What's your name?");
            await JS.InvokeVoidAsync("sayHello");
            await JS.InvokeVoidAsync("test"); 
            await JS.InvokeVoidAsync("test2"); 
            // await JS.InvokeVoidAsync("sayH");
        }
    }

}
